* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(0deg,
            rgb(0, 255, 255) 50%,
            rgb(2, 0, 143) 100%);
    overflow: hidden;
    touch-action: pan-y;
    touch-action: pan-x;
}

#gameCanvas {
    margin-top: 50px;
    box-shadow: 10px 10px 20px black;
    background-color: black;
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
    display: none;
}

#start-screen {
    position: absolute;
    top: 500;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('images/pacman-startscreen.png');
    border-radius: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
}

#restart-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('images/pacman-startscreen.png');
    border-radius: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
}

#game-over-title {
    position: absolute;
    text-align: center;
    width: 400px;
    font-family: comic sans MS;
    color: yellow;
    text-shadow: 5px 5px 5px black;
    margin-top: -100px;
    margin-left: -100px;
}

#win-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('images/pacman-startscreen.png');
    border-radius: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
}

#win-title {
    position: absolute;
    text-align: center;
    width: 300px;
    font-family: comic sans MS;
    color: yellow;
    text-shadow: 5px 5px 5px black;
    margin-top: -100px;
    margin-left: -80px;
}

#restart-button {
    position: absolute;
    border-radius: 50px;
    padding: 5px;
    width: 100%;
    margin-top: 200px;
    background: blue;
    color: yellow;
    text-shadow: 2px 2px 1px black;
    box-shadow: 8px 8px 18px black;
    cursor: pointer;
}

#restart-button2 {
    position: absolute;
    border-radius: 50px;
    padding: 5px;
    width: 100%;
    margin-top: 200px;
    background: blue;
    color: yellow;
    text-shadow: 2px 2px 1px black;
    box-shadow: 8px 8px 18px black;
    cursor: pointer;
}

h1 {
    position: absolute;
    text-align: center;
    width: 300px;
    font-family: comic sans MS;
    color: yellow;
    text-shadow: 5px 5px 5px black;
    margin-top: -110px;
    margin-left: -50px;
}

#controls {
    position: absolute;
    border-radius: 50px;
    padding: 5px;
    width: 100px;
    margin-top: 20px;
    background: rgb(43, 255, 0);
    text-shadow: 1px 1px 1px black;
    box-shadow: 8px 8px 18px black;
    margin-top: 200px;
    cursor: pointer;
}

h2 {
    text-align: center;
    font-family: comic sans MS;
    font-size: 20px;
    color: rgb(163, 0, 0);
    text-shadow: 1px 1px 2px black;
    padding-bottom: 20px;
    padding-top: 180px;
}

#start-button {
    position: absolute;
    border-radius: 50px;
    padding: 5px;
    width: 400px;
    margin-top: 460px;
    background: blue;
    color: yellow;
    text-shadow: 2px 2px 1px black;
    box-shadow: 8px 8px 18px black;
    cursor: pointer;
}

@media all and (min-width: 800px) {

    #start-screen {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        margin-top: 50px;
    }

    h1 {
        display: flex;
        text-align: center;
        align-items: center;
        text-shadow: 5px 5px 5px black;
        margin-bottom: 680px;
        padding-left: 60px;
    }

    h2 {
        font-size: 20px;
        padding-bottom: 20px;
        padding-top: 460px;
    }

    #start-button {
        width: 400px;
        margin-top: 660px;
        background: blue;
        color: yellow;
        text-shadow: 2px 2px 1px black;
        box-shadow: 8px 8px 18px black;
    }

}

@media all and (max-width: 799px) {
    #start-screen {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        margin-top: 50px;
    }

    h1 {
        display: flex;
        text-align: center;
        align-items: center;
        text-shadow: 5px 5px 5px black;
        margin-bottom: 680px;
        padding-left: 60px;
    }

    h2 {
        font-size: 20px;
        padding-bottom: 20px;
        padding-top: 460px;
    }

    #start-button {
        width: 300px;
        margin-top: 660px;
        background: blue;
        color: yellow;
        text-shadow: 2px 2px 1px black;
        box-shadow: 8px 8px 18px black;
    }
}

@media all and (max-width: 400px) {
    #start-screen {
        top: 40%;
        left: 50%;
    }

    h1 {
        margin-top: 80px;
    }

    #controls {
        position: absolute;
        border-radius: 50px;
        padding: 5px;
        width: 100px;
        margin-top: 20px;
        background: rgb(43, 255, 0);
        text-shadow: 1px 1px 1px black;
        box-shadow: 8px 8px 18px black;
        text-decoration: none;
    }

    h2 {
        padding-bottom: 20px;
        padding-top: 300px;
    }

    #start-button {
        margin-top: 560px;
        width: 250px;
    }
}